<!DOCTYPE html>
<html lang="en">
    
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    </head>

    <body>

        <div>
            <ul class="nav justify-content-end shadow-lg p-3 mb-5 bg-white rounded">
                <li class="nav-item">
                    <a class="nav-link active" href="index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="categories">Magazin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="register">Register</a>
                </li>
                <li  class="nav-item">
                    <a class="nav-link" href="login">Login</a>
                </li>
                <li th:if="${logged}" class="nav-item">
                    <a class="nav-link" href="logout">Logout</a>
                </li>
            </ul>
        </div>
        <div>
            <h1 style="text-align: center;">Magazin de aparatura audio profesionala</h1>
        </div>
        <div>
                <img style="width: 1000; height: 480; display: block; margin-left: auto; margin-right: auto;" src="magazin.jpg">
        </div>

    </body>

</html>