<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<body>

<div>
    <ul class="nav justify-content-end shadow-lg p-3 mb-5 bg-white rounded">
        <li class="nav-item">
            <a class="nav-link active" href="index">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="categories">Magazin</a>
        </li>

        <li  class="nav-item">
            <a class="nav-link" href="logout">Logout</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="logout" th:text="${nr_product}"></a>
        </li>
    </ul>
</div>

<div class="container">
    <div  class="row">
        <div th:each="p : ${products}" style="margin-bottom: 10px;" class="col-sm">
            <div class="card" style="width: 18rem;">
                <img style="height: 200px" th:src="${p.photo}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 th:text="${p.name}" class="card-title"></h5>
                    <p th:text="${p.description}" class="card-text"></p>
                    <h6 class="card-title">Pret</h6>
                    <p th:text="${p.price}" class="card-text"></p>
                </div>
            </div>
        </div>
        <h2><a href="/send-order">Trimite comanda</a></h2>
    </div>
</div>

</body>
</html>